<section class="container">
  <div class="login">
    <h1>Add a question</h1>
    <form method="post" action="/add_question">
      <p><input type="text" name="question" value="" placeholder="Question:"></p>
      <p><input type="text" name="answer_one" value="" placeholder="First answer:"></p>
      <p><input type="text" name="answer_two" value="" placeholder="Second answer:"></p>
      <p><input type="text" name="answer_three" value="" placeholder="Third answer:"></p>
      <p><input type="text" name="answer_four" value="" placeholder="Fourth answer:"></p>
      <p><input type="text" name="correct_answer_index" value="" placeholder="Correct answer (0-3):"></p>
      <p class="submit"><input type="submit" name="commit" value="Submit question"></p>
    </form>
  </div>
</section>