<form method="post" action="logout">
  <p><button type="submit" name="logout">Logout</button></p>
</form>

<form method="get" action="game">
  <p><button type="submit" name="game">Start game</button></p>
</form>

<div style="width: 700px">
    <div id="chat-wrapper" style="float: left; overflow: auto; height: 400px;
            width: 500px; background-color: black; color: yellow">
        <h3>Live chat!</h3>
        <ul id='chat'></ul>
    </div>
    <div style="float: left">
      <p><input style="width: 470px" type="text" id="msg" name="msg" value="" placeholder="type message here..."></p>
      <input id="send-message" type="button" value="send">
    </div>

    <div style="float: right">
      <h2>Users:</h2>
      <ul>
        <%=
           '<li>' + players.map do |tuple|
                "#{tuple[0]}: #{tuple[1]}"
             end.join('</li><li>') + '</li>'
        %>
      </ul>
    </div>
</div>
<script>
    // reading
    $(document).ready(function () {
        function read() {
            $.ajax({
                url: '/read',
                type: 'POST'
            }).done(function (ev) {

                if(ev){
                    $("#chat").html("");
                    var lines = ev.split('\\n');
                    for (var i = 0; i < lines.length; i++) {
                        $("#chat").append("<li>" + lines[i] + "</li>");
                    }
                }

                $("#chat-wrapper").animate({ scrollTop: $("#chat-wrapper").prop("scrollHeight") }, 3000);
            });
        }

        // writing
        $('#send-message').click(function(ev){
            ev.preventDefault();

            $.ajax({
                url: '/write',
                contentType: 'application/json',
                type: 'POST',
                dataType: 'json',
                data: JSON.stringify({ msg: "<%= user %>: " + $('#msg').val() })
            }).done(function(){
                $('#msg').value('')
            });
        });

        setInterval(read, 500);
    });
</script>