%div{id: 'chat_container',
     style: 'float: left; width: 50%; height: 400px'}
  %textarea{id: 'chat', style: 'resize: none; width: 100%; height: 100%;',
            readonly: 'readonly', autofocus: 'autofocus'}

  %form{id: 'chat_form', action: '#'}
    %input{id: 'msg', placeholder: 'type message here...', autocomplete: 'off'}
    %input{type: 'submit', value: 'send'}

  :javascript
    $(document).ready(function() {
      var scheme = "ws://";
      var uri = scheme + window.document.location.host + "/";
      var ws = new WebSocket(uri);

      // reading
      ws.onmessage = function(message) {
        var data = JSON.parse(message.data);

        if(data && data.is_chat_message && data.game == getCookie('game')) {
          var data = JSON.parse(message.data);
          $('#chat').append(data.text + "\n");
          $('#chat').scrollTop($('#chat')[0].scrollHeight);
        }
      }

      //writing
      $('#chat_form').submit(function(e){
        e.preventDefault();
        var text = "#{@user_info['firstName']} #{@user_info['lastName']}: "
                    + $('#msg').val();

        if($('#msg').val() != '') {
          $('#msg').val('');
          $('#msg').focus();
          ws.send(JSON.stringify({text: text, is_chat_message: true, game: getCookie('game')}));
        }
      });
    });
