!!! 5
%html
  %head
    %title Susi Wars
    %meta{charset: 'utf-8'}
    %link{rel: 'stylesheet', href: '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'}
    %script{src: 'http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js'}
    %script{src: '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'}
  %body
    %div{class: 'page-header'}
      %h1 Susi Wars
    -if @user_info && @login_key
      = haml :content
    -else
      = haml :login
