!!! 5
%html
  %head
    %title Susi Wars
    %meta{charset: 'utf-8'}
    %link{rel: 'stylesheet', href: '/styles.css'}
    %script{src: 'http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js'}
  %body
    %header
      %h1 Susi Wars
      -if @user_info && @login_key
        = haml :content
      -else
        = haml :login
